.wrapper {
    min-width: 288px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 6px;

}

.input {
    flex-grow: 1;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #000000;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
}