.wrapper {
    position: relative;
    padding-left: 36px;
}

.wrapper::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "|";
    width: 1px;
    height: 17px;
    color: #000000;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 6px;

}

.input {
    min-width: 250px;
    flex-grow: 1;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #000000;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
}