@font-face {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/DMSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/DMSans-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Allerta Stencil', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/AllertaStencil-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/DMSans-Bold.ttf') format('ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000;
}

body {
  margin: 0 auto;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
  font-family:'DM Sans', sans-serif;
  line-height: 27px;
  font-weight: 400;
}


.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1248px;
}

a {
  text-decoration: none;
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-color: inherit;
  word-wrap: normal;
  white-space: normal;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}